<form class="grid-form flex-form">

    <fieldset>
        <legend>Добавить высказывание: </legend>

        <div data-row-span="1">
            <div data-field-span="1">
                <label>Набор букв</label>
                <div letters
                     letter="address"
                     mtd="mtd"
                     class="letters lefter"></div>

                <input  class="righter"
                        data-ng-model="letter"
                        data-ng-model-instant
                        pattern="[ABCEHKMOPTXY]*|*"
                        type="text"
                        placeholder="A|B|C|E|H|K|M|O|P|T|X|Y">
            </div>
        </div>

        <div data-row-span="1">
            <div data-field-span="1">
                <label>Название</label>
                <input  data-ng-model="phrase.head"
                        data-ng-model-instant type="text">
            </div>
        </div>
        <div data-row-span="1">
            <div data-field-span="1">
                <label>URL картинки</label>
                <input data-ng-model="phrase.img"
                       data-ng-model-instant type="text">
            </div>
        </div>
        <div data-row-span="1">
            <div data-field-span="1">
                <label>Текст (с разметкой <b><a href="http://ru.wikipedia.org/wiki/Markdown" target="_blank" title="markdown">MARKDOWN</a></b>)</label>
                <textarea class="texter" data-ng-model="phrase.text"
                          data-ng-model-instant></textarea>
            </div>
        </div>
    </fieldset>
    <button class="form-button add"
            data-ng-style="{backgroundColor:mtd.colorize(phrase.letters)}"
            data-ng-click="mtd.updateStory(phrase)">+</button>
    <button class="form-button cancel"
            data-ng-click="close()">&times;</button>
</form>