<form class="grid-form flex-form">

    <fieldset>
        <legend>Добавить высказывание: </legend>

        <div data-row-span="1">
            <div data-field-span="1">
                <label>Набор букв</label>
                <div letters
                     letter="address"
                     mtd="mtd"
                     class="letters lefter"></div>




                <div letter-grid
                     used="used"
                     mtd="mtd"
                     result="letter"
                     class="letter-grid"
                        >

                </div>


            </div>
        </div>
        <div data-row-span="1">
            <div data-field-span="1">
                <label>Тип</label>
                <select
                    ng-model="phrase.type"
                    name="Тип"
                    required="1"
                    ng-options="type.type as type.title for (typeName, type) in mtd.types[type].canHave"></select>
            </div>
        </div>

        <div data-row-span="1">
            <div data-field-span="1">
                <label>Название</label>
                <input  data-ng-model="phrase.title"
                        type="text">
            </div>
        </div>
        <div data-row-span="1">
            <div data-field-span="1">
                <label>URL картинки</label>
                <input data-ng-model="phrase.img"
                       type="text">
            </div>
        </div>
        <div data-row-span="1">
            <div data-field-span="1">
                <label>Текст (с разметкой <b><a href="http://ru.wikipedia.org/wiki/Markdown" target="_blank" title="markdown">MARKDOWN</a></b>)</label>
                <textarea class="texter"
                          data-ng-model="phrase.text"></textarea>
            </div>
        </div>
    </fieldset>
    <button class="form-button add"
            data-ng-style="{backgroundColor:mtd.colorize(phrase.letters)}"
            data-ng-click="mtd.addToFeed(phrase)">+</button>
    <button class="form-button cancel"
            data-ng-click="close()">&times;</button>
</form>