<div over-card close="nxt=''" nxt="nxt" mtd="mtd"  data-ng-show="nxt"></div>

<div class="card"  data-ng-class="{'lower':nxt}" data-ng-style="{borderColor:mtd.colorize(phrase.letters)}">

    <div data-ng-click=" nxt=''"

         data-ng-class="{'fuller':!phrase.text}"
         class="box-head"
         >

         <div  data-ng-if="mtd.showLetters || mtd.showRating || mtd.persona==phrase.author" class="box-bar">


         <div
         data-ng-if="mtd.showLetters"
           letters
           class="letters box-top"
           data-mtd="mtd"
           data-letter="phrase.letters"
           data-select="mtd.selector(phrase.letters)"> </div>



         <div rating
         data-ng-if="mtd.showRating"
         class="box-rate"
         rate="rate"
         mtd="mtd"
         letter="phrase.letters">
             </div>
         </div>

        <a class="header-scroll-link" duration="10" data-ng-click="mtd.selector(phrase.letters)" scroll-to="{{phrase.letters}}">
        <div class="box-img" data-ng-if="phrase.img">
            <img data-ng-src="{{phrase.img}}">
        </div>


          <div icon
               icon-type="phrase.type"
               icon-title="mtd.types[phrase.type].title"
               icon-text="phrase.text"
               class="box-icon"
               data-ng-style="{backgroundColor:mtd.colorize(phrase.letters)}"
               data-ng-if="phrase.type"
                  > </div>


        <div id="{{phrase.letters}}"

             class="box-heading"

             data-ng-if="phrase.title"  >

            <h3 ng-style="{color:mtd.colorize(phrase.letters)}">
                {{phrase.title}}
            </h3>
        </div>

            <div class="card-link">
            <a ng-if="mtd.feedTitle=='publicFeed'" href="#{{phrase.letters}}"><img src="icons/link.svg" class="link-icon"></a>
            <a ng-if="mtd.feedTitle=='personal'" href="#personal/{{phrase.letters}}"><img src="icons/link.svg" class="link-icon"></a>
            </div>


        </a>

            <div class="time-card" data-ng-if="mtd.persona">
                <b> {{mtd.personae[phrase.author].title || phrase.author || "Кто-то"}} </b>
                <span ng-if="mtd.personae[phrase.author].gender=='female' && !phrase.edit">опубликовала</span>
                <span ng-if="mtd.personae[phrase.author].gender!='female' && !phrase.edit">опубликовал</span>
                <span ng-if="mtd.personae[phrase.author].gender=='female' && phrase.edit">отредактировала</span>
                <span ng-if="mtd.personae[phrase.author].gender!='female' && phrase.edit">отредактировал</span>
                это <span ng-if="!phrase.time">когда-то</span> <span ng-if="phrase.time" am-time-ago="phrase.time"></span>

                <button class="btn"
                        ng-click="edit.new=phrase; edit.new.edit=true">Изменить</button>
    

            </div>




    </div>
    <div class="box-date" ng-if="phrase.type=='time' && phrase.date">{{phrase.date | amDateFormat:'dddd, Do MMMM YYYY, HH:mm'}}</div>

    <embed-video ng-if="phrase.video" href="{{phrase.video}}" width="320px" height="240px"></embed-video>

    <googlemaps ng-if="phrase.place && phrase.place.address" class="google-maps" options="map"></googlemaps>
<span ng-if="phrase.place && phrase.place.address" class="address">{{phrase.place.address}}</span>
    <div  class="box-text" data-ng-if="phrase.text">



        <div class="text-flow" ng-class="{'long-text':phrase.text.length>300}"  data-ng-if="phrase.text" marked="phrase.text"></div>






    </div>


    <div data-ng-if="phrase.next && !mtd.isSelected(phrase.letters)"  class="box-bottom">
        <div data-ng-click="$parent.$parent.$parent.nxt=next"
             data-ng-style="{backgroundColor:mtd.colorize(next.letters),flexGrow:next.title.length+1}"
             class="box-preview" data-ng-repeat="next in phrase.next  | objectAsArray | filter: rf | filter: lettersFilter | filter:search | orderBy:[rate.ratingSort, rate.seenSort, rate.timeSort]">



            <div icon
                 icon-type="next.type"
                 icon-text="next.text"
                 class="box-icon"
                 data-ng-if="next.type"
                    ></div>

            <div class="preview-letter" data-ng-if="mtd.showLetters">{{next.letter}}</div>
        </div>
    </div>



    <div data-ng-if=" mtd.isSelected(phrase.letters)" class="box-roll" data-ng-style="{borderColor:mtd.colorize(phrase.letter)}" >


        <div cards
             search="search"
             rf="rf"
             rate="rate"
             fltr="fltr"
             mtd="mtd"
             next="phrase.next"
             selected="sel"
             class="container"
             type="phrase.type"
             addr="phrase.letters"
             data-ng-style="{borderColor:mtd.colorize(phrase.letter)}">

        </div>

    </div>

    <!--   <div plus
            data-ng-show="$parent.selected==phrase.letters"
            data-ng-style="{backgroundColor:mtd.colorize(phrase.letters)}"
            class="box-plus"
            data-ng-if="mtd.persona && !phrase.next"
            data-ng-click="phrase.next={add:{letters:phrase.letters}}"></div>

       <div add-form
            data-ng-if="mtd.persona && phrase.next.add && !address"
            phrase="phrase.next.add"
            addr="phrase.letters"
            mtd="mtd"></div>

-->

</div>
