<div over-card close="nxt=''" nxt="nxt" mtd="mtd"  data-ng-show="nxt"></div>

<div class="card"  data-ng-class="{'lower':nxt}" data-ng-style="{borderColor:mtd.colorize(phrase.letters)}">

    <div data-ng-click=" nxt=''"
         data-ng-style="{backgroundColor:mtd.colorize(phrase.letters)}"
         data-ng-class="{'fuller':!phrase.text}"
         class="box-head"
         >

        <div  data-ng-if="mtd.showLetters || mtd.showRating || mtd.persona==phrase.author" class="box-bar">

            <div
                    letters
                    class="letters box-top"
                    data-mtd="mtd"
                    data-letter="phrase.letters"
                    data-select="mtd.selector(phrase.letters)"> </div>



            <div rating
                 data-ng-if="mtd.showRating"
                 class="box-rate"
                 rate="rate"
                 mtd="mtd"
                 letter="phrase.letters">
            </div>



        </div>


        <div class="box-img" data-ng-if="phrase.img">
            <img data-ng-src="{{phrase.img}}">
        </div>
        <a class="header-scroll-link" duration="10" scroll-to="{{phrase.letters}}">
        <div icon
             icon-type="phrase.type"
             icon-title="mtd.types[phrase.type].title"
             icon-text="phrase.text"
             class="box-icon"
             data-ng-if="phrase.type"
                >

        </div>

        <div id="{{phrase.letters}}"
             class="box-heading"
             data-ng-click="mtd.selector(phrase.letters)"
             data-ng-if="phrase.title"  >

            <h3>
                {{phrase.title}}
            </h3>
        </div>

        </a>

            <div class="time-card" data-ng-if="phrase.author && mtd.persona">

                <b> {{mtd.personae[phrase.author].title || phrase.author}} </b>
                <span ng-if="mtd.personae[phrase.author].gender=='female' && !phrase.edit">опубликовала</span>
                <span ng-if="mtd.personae[phrase.author].gender!='female' && !phrase.edit">опубликовал</span>
                <span ng-if="mtd.personae[phrase.author].gender=='female' && phrase.edit">отредактировала</span>
                <span ng-if="mtd.personae[phrase.author].gender!='female' && phrase.edit">отредактировал</span>
                это <span am-time-ago="phrase.time"></span>

                <button class="btn"
                        ng-if="mtd.persona==phrase.author && !mtd.isRated(phrase.letters)"
                        ng-click="edit.new=phrase; edit.new.edit=true">Изменить</button>
            </div>

            <div class="time-card card-link">
                Ссылка на это высказывание:
            <a href="#{{phrase.letters}}">feeds.frkt.ru/#{{phrase.letters}}</a>
            </div>


    </div>
    <div class="box-date" ng-if="phrase.type=='time' && phrase.date">{{phrase.date | amDateFormat:'dddd, Do MMMM YYYY, HH:mm'}}</div>

    <embed-video ng-if="phrase.video" href="{{phrase.video}}" width="320px" height="240px"></embed-video>

    <googlemaps ng-if="phrase.place && phrase.place.address" class="google-maps" options="map"></googlemaps>

    <div  class="box-text" data-ng-if="phrase.text">

        <span class="address">{{phrase.place.address}}</span>

        <div class="text-flow" ng-class="{'long-text':phrase.text.length>300}"  data-ng-if="phrase.text" marked="phrase.text"></div>






    </div>


    <div data-ng-hide="mtd.isSelected(phrase.letters)" data-ng-if="phrase.next" class="box-bottom">
        <div data-ng-click="$parent.$parent.$parent.nxt=next"
             data-ng-style="{backgroundColor:mtd.colorize(next.letters),flexGrow:next.title.length+1}"
             class="box-preview" data-ng-repeat="next in phrase.next | objectAsArray | filter: rf | filter: {letters: mtd.convertLetters(fltr)} | filter:search">



            <div icon
                 icon-type="next.type"
                 icon-title="next.title"
                 icon-text="next.text"
                 class="box-icon"
                 data-ng-if="next.type"
                    ></div>

            <div class="preview-letter" data-ng-if="mtd.showLetters">{{next.letter}}</div>
        </div>
    </div>



    <div data-ng-if="phrase.next || mtd.persona" data-ng-show="mtd.isSelected(phrase.letters)" class="box-roll" data-ng-style="{borderColor:mtd.colorize(phrase.letter)}" >


        <div cards
             search="search"
             rf="rf"
             rate="rate"
             fltr="fltr"
             mtd="mtd"
             next="phrase.next"
             selected="sel"
             class="container"
             type="phrase.type"
             addr="phrase.letters"
             data-ng-style="{borderColor:mtd.colorize(phrase.letter)}">

        </div>

    </div>

    <!--   <div plus
            data-ng-show="$parent.selected==phrase.letters"
            data-ng-style="{backgroundColor:mtd.colorize(phrase.letters)}"
            class="box-plus"
            data-ng-if="mtd.persona && !phrase.next"
            data-ng-click="phrase.next={add:{letters:phrase.letters}}"></div>

       <div add-form
            data-ng-if="mtd.persona && phrase.next.add && !address"
            phrase="phrase.next.add"
            addr="phrase.letters"
            mtd="mtd"></div>

-->

</div>