<div class="card-holder box-holder" data-ng-if="phrase.img">
  <div data-ng-click="mtd.selector(phrase.letters)" class="box-img" data-ng-if="phrase.img">
    <img data-ng-src="{{phrase.img}}">
  </div>
</div>
<div class="card-holder box-holder" data-ng-if="phrase.img || phrase.text">
  

  
  <div class="box-date" ng-if="phrase.date">{{phrase.date | amDateFormat:'dddd, Do MMMM YYYY, HH:mm'}}</div>

  <embed-video ng-if="phrase.video" href="{{phrase.video}}" width="320px" height="240px"></embed-video>

  <googlemaps ng-if="phrase.place && phrase.place.address" class="google-maps" options="map"></googlemaps>
  <span ng-if="phrase.place && phrase.place.address" class="address">{{phrase.place.address}}</span>
  <div class="box-text" data-ng-if="phrase.text">
    <div class="text-flow" ng-class="{'long-text':phrase.text.length>300}" data-ng-if="phrase.text" marked="phrase.text"></div>
  </div>
   <div class="time-card" data-ng-if="mtd.persona">
    <b> {{mtd.personae[phrase.author].title || phrase.author || "Кто-то"}} </b>
    <span ng-if="mtd.personae[phrase.author].gender=='female' && !phrase.edit">опубликовала</span>
    <span ng-if="mtd.personae[phrase.author].gender!='female' && !phrase.edit">опубликовал</span>
    <span ng-if="mtd.personae[phrase.author].gender=='female' && phrase.edit">отредактировала</span>
    <span ng-if="mtd.personae[phrase.author].gender!='female' && phrase.edit">отредактировал</span> это <span ng-if="!phrase.time">когда-то</span> <span ng-if="phrase.time" am-time-ago="phrase.time"></span>

    <button class="btn" ng-click="edit.new=phrase; edit.new.edit=true">Изменить</button>

  </div>
</div>


<div class="card-holder"
     data-ng-class="{'box-holder':selected!=phrase.letters, 'box-wider':mtd.isSelected(phrase.letters)}"
     data-ng-repeat="phrase in next | objectAsArray | filter: rf | filter: lettersFilter | filter:search | orderBy:[rate.ratingSort, rate.seenSort, rate.timeSort]">

    <div card
         mtd="mtd"
         phrase="phrase"
         rate="rate"
         rf="rf"
         selected="selected"
         class="card-stack"
         nxt="nxt"
         edit="next"></div>

</div>
<div plus
     class="box-plus"
     data-ng-if="mtd.persona && !next && type!='personal'"
     data-ng-click="$parent.next={new:{letters:phrase.letters}}" ></div>

<div plus
     class="box-plus"
     data-ng-if="mtd.persona && next && !next.new && type!='personal'"
     data-ng-click="next.new={letters:phrase.letters}" ></div>

<div add-form
     data-ng-if="mtd.persona && next.new"
     phrase="next.new"
     address="addr"
     close="cancelNew()"
     used="used"
     type="type"
     mtd="mtd"></div>
