<div over-card close="nxt=''" nxt="nxt" mtd="mtd"  data-ng-show="nxt"></div>

<div class="card"  data-ng-class="{'lower':nxt}" data-ng-style="{borderColor:mtd.colorize(phrase.letters)}">

    <div data-ng-click=" nxt=''"
         data-ng-style="{backgroundColor:mtd.colorize(phrase.letters)}"
         data-ng-class="{'fuller':!phrase.text}"
         class="box-head"
         id="{{phrase.letters}}">

        <div  data-ng-if="mtd.persona" class="box-bar">

            <div
                    letters
                    class="letters box-top"
                    data-mtd="mtd"
                    data-letter="phrase.letters"
                    data-select="$parent.selected=mtd.select(phrase.letters, $parent.selected)"> </div>

            <div rating  class="box-rate"
                 rate="rate"
                 letter="phrase.letters">
            </div>



        </div>


        <div class="box-img" data-ng-if="phrase.img">
            <img data-ng-src="{{phrase.img}}">
        </div>

        <div icon
             icon-type="phrase.type"
             icon-title="phrase.title"
             icon-text="phrase.text"
             class="box-icon"
             data-ng-if="phrase.type"
             data-ng-click="imgClick()"
                >

        </div>

        <div class="box-heading"
             data-ng-click="$parent.selected=mtd.select(phrase.letters, $parent.selected)"
             data-ng-if="phrase.title">

            <h3>
                {{phrase.title}}
            </h3>
        </div>



    </div>



    <div  class="box-text" data-ng-if="phrase.img || phrase.text">



        <div class="text-flow"  data-ng-if="phrase.text" marked="phrase.text"></div>


        <div class="time-card" data-ng-if="phrase.time && mtd.persona"> {{phrase.author}} :: {{time.toLocaleString()}} ::</div>



    </div>

    <div data-ng-hide="selected==phrase.letters" data-ng-if="phrase.next" class="box-bottom">
        <div data-ng-click="$parent.$parent.$parent.nxt=next"
             data-ng-style="{backgroundColor:mtd.colorize(next.letters),flexGrow:next.title.length+1}"
             class="box-preview" data-ng-repeat="next in phrase.next | objectAsArray | filter: rf | filter: {letters: mtd.convertLetters(fltr)} | filter:search">



            <div icon
                 icon-type="next.type"
                 icon-title="next.title"
                 icon-text="next.text"
                 class="box-icon"
                 data-ng-if="next.type"
                    ></div>

            <span data-ng-if="mtd.persona">{{next.letter}}</span>
        </div>
    </div>

    <div data-ng-if="phrase.next || mtd.persona" data-ng-show="$parent.selected==phrase.letters" class="box-roll" data-ng-style="{borderColor:mtd.colorize(phrase.letter)}" >


        <div cards
             search="search"
             rf="rf"
             rate="rate"
             fltr="fltr"
             mtd="mtd"
             next="phrase.next"
             selected="sel"
             class="container"
             addr="phrase.letters"
             data-ng-style="{borderColor:mtd.colorize(phrase.letter),backgroundColor:mtd.colorize(phrase.letters,0.05)}">

        </div>

    </div>

    <!--   <div plus
            data-ng-show="$parent.selected==phrase.letters"
            data-ng-style="{backgroundColor:mtd.colorize(phrase.letters)}"
            class="box-plus"
            data-ng-if="mtd.persona && !phrase.next"
            data-ng-click="phrase.next={add:{letters:phrase.letters}}"></div>

       <div add-form
            data-ng-if="mtd.persona && phrase.next.add && !address"
            phrase="phrase.next.add"
            addr="phrase.letters"
            mtd="mtd"></div>

-->

</div>