
<a class="no-underline" data-scroll href="#header"> <div class="letter-block">
        <div class="nav-to-top">&uparrow;</div>
    </div>
</a>
    <div class="letter-block"
         data-ng-repeat="letters in mtd.selected">
        <a data-scroll href="#{{letters}}">
            <div class="letters box-top">
                 <span
                         data-ng-repeat="lttr in cleanLetters(letters) track by $index"
                         data-ng-style="{backgroundColor:mtd.colorize(lttr)}"
                         class="letter nav-letter"
                         data-ng-click="select()">
                    <span ng-if="mtd.showLetters">{{lttr}}</span>
                 </span>
                {{}}
                <span class="nav-close" data-ng-click="mtd.selector(letters)">&times;</span>
            </div>
        </a>
    </div>


