<div class="over-card" >
    <div over-card close="over.next=''" nxt="over.next" mtd="mtd" data-ng-if="over.next"></div>
    <div data-ng-if="nxt"
    class="card"
    data-ng-class="{'sel':selected, 'lower':over.next}"
    data-ng-style="{borderColor:mtd.colorize(nxt.letters)}">


        <div data-ng-click="close();over.next='';selected=!selected"

             data-ng-class="{higher:nxt.img}"
             class="box-head">

            <div data-ng-if="mtd.showLetters"
                 letters
                 class="letters shadow"
                 mtd="mtd"
                 letter="nxt.letters"
                 data-ng-click="over.next='';selected=!selected"
                 class="box-top"></div>

                 <div class="box-img" data-ng-if="nxt.img">
                     <img data-ng-src="{{nxt.img}}">
                 </div>

            <div icon
            data-ng-style="{backgroundColor:mtd.colorize(nxt.letters)}"
                 icon-type="nxt.type"
                 icon-title="mtd.types[nxt.type].title"
                 icon-text="nxt.text"
                 class="box-icon"
                 data-ng-if="nxt.type"
                    ></div>


            <div class="box-heading"
                 data-ng-if="nxt.title">

                <h3>
                    {{nxt.title}}
                </h3>
            </div>

        </div>
        <div class="box-date" ng-if="nxt.type=='time' && nxt.date"><span am-time-ago="nxt.date"></span></div>

        <googlemaps ng-if="nxt.place && nxt.place.address" class="google-maps" options="map"></googlemaps>
<span ng-if="nxt.place && nxt.place.address" class="address">{{nxt.place.address}}</span>
        <div  class="box-text">


            <div class="text-flow" ng-class="{'long-text':nxt.text.length>300}"  data-ng-if="nxt.text" marked="nxt.text"></div>

            <embed-video ng-if="nxt.video" href="{{nxt.video}}" width="320px" height="240px"></embed-video>



            <div data-ng-if="nxt.next" class="box-bottom">
                <div data-ng-click="over.next=next"
                     data-ng-style="{backgroundColor:mtd.colorize(next.letters),flexGrow:size(nxt.next)}"
                     class="box-preview" data-ng-repeat="next in nxt.next">
                    <div icon
                         icon-type="next.type"
                         icon-text="next.text"
                         class="box-icon"
                         data-ng-if="next.type"
                            ></div>
                    <div class="preview-letter" data-ng-if="mtd.showLetters">{{next.letter}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
