<div class="plus"
     data-ng-class="{'active':mtd.rate.getPluses(letters)}"
     data-ng-click="mtd.rate.plus(letters)">
    +{{mtd.rate.getPluses(letters)}}</div>

<div class="zero"
     data-ng-class="{'active':mtd.rate.getZeros(letters)}"
     data-ng-click="mtd.rate.zero(letters)">
    {{mtd.rate.getZeros(letters) || '&bull;'}}</div>

<div class="minus"
     data-ng-class="{'active':mtd.rate.getMinuses(letters)}"
     data-ng-click="mtd.rate.minus(letters)">
    -{{mtd.rate.getMinuses(letters)}}</div>
