<!DOCTYPE html>
<html>
<head>
    <title>ФРУКТ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <script src="js/side/angular.min.js"></script>
    <script type="application/javascript" src="js/side/marked.js"></script>
    <script type="application/javascript" src="js/side/angular-marked.js"></script>
    <script type="application/javascript" src="js/side/prefixfree.min.js"></script>
    <script type="application/javascript" src="js/side/ngStorage.js"></script>
    <script type="application/javascript" src="js/fruit-app.js"></script>
    <script type="application/javascript" src="js/directives/feed.js"></script>
    <script type="application/javascript" src="js/directives/directives.js"></script>
    <script type="application/javascript" src="js/designs.js"></script>
    <script type="application/javascript" src="js/sticky.js"></script>
    <script type="application/javascript" src="js/types.js"></script>
    <script type="application/javascript" src="js/side/firebase.js"></script>
    <script type="application/javascript" src="js/side/angularfire.min.js"></script>

    <script src="js/side/bind-polyfill.js"></script>
    <script src="js/side/smooth-scroll.js"></script>
    <link href="css/story.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/gridforms.css" rel="stylesheet">

</head>
<body data-ng-app="fruitStory" data-ng-controller="feeds" data-ng-cloak>

<section id="header"><h1>Ленты</h1>

    <button
            class="header-button"
            ng-class="{active:feedTitle==feeds.designs.title}"
            ng-click="changeFeed('designs')">
               Публичные
            </button>

    <input autofocus="autofocus"
           placeholder="Представься"
           data-ng-model="mtd.persona">

    <button ng-disabled="!mtd.persona"
         class="header-button"
         ng-class="{active:feedTitle==feeds.personal.title}"
         ng-click="changeFeed('personal')">Личные ({{feeds.personal.feed.length}})</button>

</section>
<section id="feed"
        feed
        data-persona="persona"
        data-mtd="mtd"
        data-feed-source="feed"
        data-feed-rating="rating"
        data-feed-rating-mode="ratingMode"
        >

</section>
<script>
    smoothScroll.init();
</script>
</body>
</html>