<!DOCTYPE html>
<html>
<head>
    <title>Ленты</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <script src="js/side/angular.min.js"></script>
    <script type="application/javascript" src="js/side/angular-ui-router.js"></script>
    <script type="application/javascript" src="js/side/FireUser.js"></script>
    <script type="application/javascript" src="js/side/marked.js"></script>
    <script type="application/javascript" src="js/side/angular-marked.js"></script>
    <script type="application/javascript" src="js/side/prefixfree.min.js"></script>
    <script type="application/javascript" src="js/side/ngStorage.js"></script>
    <script type="application/javascript" src="js/feeds-app.js"></script>
    <script type="application/javascript" src="js/directives/feed.js"></script>
    <script type="application/javascript" src="js/directives/directives.js"></script>
    <script type="application/javascript" src="js/services/designs.js"></script>
    <script type="application/javascript" src="js/services/types.js"></script>
    <script type="application/javascript" src="js/side/firebase.js"></script>
    <script type="application/javascript" src="js/side/angularfire.min.js"></script>
    <script type="application/javascript" src="js/side/firebase-simple-login.js"></script>
    <script type="application/javascript" src="js/side/bind-polyfill.js"></script>
    <script type="application/javascript" src="js/side/angular-smooth-scroll.js"></script>
    <script type="application/javascript" src="js/side/loading-bar.js"></script>


    <link href="css/story.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/gridforms.css" rel="stylesheet">
    <link href="css/loading-bar.css" rel="stylesheet">

</head>
<body data-ng-app="fruitStory" data-ng-controller="feeds" data-ng-cloak>

<section id="header"><img class="logo" src="icons/feeds-logo.svg">

    <button
            class="header-button"
            ng-class="{active:feedTitle==feeds.personal.title}"
            ng-click="changeFeed('personal')">Личные ({{feeds.personal.feed.length}})</button>


    <button ng-disabled="!loaded"
            class="header-button"
            ng-class="{active:mtd.firebase}"
            ng-click="mtd.switchToPublic()">
        <span ng-if="loaded && online">Публичные</span>
        <span ng-if="!online && !loaded">Подключение...</span>
        <span ng-if="online && !loaded">Загрузка...</span>
        <span ng-if="loaded && !online">Публичные (оффлайн)</span>
    </button>

    <div fuLoginForm
         data-ng-if="!data.userLoggedIn"></div>

    <div fuLogOut
         data-ng-if="data.userLoggedIn"></div>

    <div fuSignUpForm data-ng-if="!data.userLoggedIn"></div>
    {{data}}


</section>

<section id="feed"
        feed
        data-persona="persona"
        data-mtd="mtd"
        data-feed-source="feed"
        data-feed-rating="rating"
        data-feed-rating-mode="ratingMode"
        >

</section>

</body>
</html>